#game {
    width: 800px;
    margin: auto auto;
}


/*#menu {
	float: left;
}

#newGame {
	display: inline;
	float: left;
}*/

#board {
    margin: auto auto;
    border: white solid 10px;
    box-sizing: border-box;
    border-collapse: collapse;
}

#board tr td {
    width: 128px;
    height: 140px;
    border: white solid 10px;
    background-color: #E8E8E8;
}

img {
    width: 128px;
    height: 128px;
    margin: auto;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s ease, opacity 0.5s ease;
}
